.container {
  margin: auto;
  font-family: Arial;
  text-align: center;
  height: 70%;
  width: 50%;
  border: 2px solid #42b3f4;
  border-radius: 5px;
  background-color: #d3fdff;
  padding-bottom: 10px;
}

.main-heading {
  margin: auto;
  width: 50%;
  border-bottom: 1px solid white;
  border-radius: 5px;
}


p {
  color: #494949;
}


body {
  padding-top: 20px;
  background-color: #f4f4f4f4;
}

a {
  font-size: 12px;
  text-decoration: none;
}

#tempOutput {
  font-size: 30px;
}

#weatherIcon {
  height: 64px;
  width: 64px;
}

#description {
  font-size:22px;
}

#timeString {
  font-size:14px;
}

.button-holder {
  text-align: center;
  padding-top: 10px;
}
